@import '../../index.scss';

.cart-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: auto;
}

.cart-container {
    background-color: $secondary-background-color;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    min-width: 45rem;
    @include flexBox(column, center, flex-start);

    .header {
        padding: 4rem;
        @include flexBox(row, center, space-between);

        h2 {
            font-size: 2.5rem;
            letter-spacing: 2px;
            color: #fff;
            font-weight: 400;
        }

        .close-btn {
            position: absolute;
            top: 2%;
            right: 3%;
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
                stroke-width: 2px;
                stroke: #fff;
                fill: #fff;
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        .close-btn:hover {
            svg {
                stroke-width: 4px;
            }
        }
    }
}

.container {
    position: relative;

    .remove-btn {
        background-color: transparent;
        border: none;
        padding: 2rem;
        cursor: pointer;
        position: absolute;
        transform: translateY(50%);
        top: 0;
        right: 0;
        z-index: 1000;

        svg {
            width: 1.6rem;
            height: 1.6rem;
            fill: #73888e;
            stroke: #73888e;
            stroke-width: 0.7rem;
        }
    }

    .remove-btn:hover {
        svg {
            fill: #fff;
            stroke: #fff;
        }
    }
}

.cart-game-container:link,
.cart-game-container:visited {
    @include flexBox(row, center, flex-start, 2rem);
    padding: 0 2rem;
    text-decoration: none;

    img {
        width: 30%;
        align-self: flex-start;
    }

    .game-name {
        color: #fff;
        font-size: clamp(1.8rem, 1.2vw, 2.2rem);
        width: 50%;
    }

    .game-price {
        @include flexBox(column, flex-start, flex-start, 0.5rem);
        font-size: 2rem;
        color: $secondary-green-color;
        color: #fff;
        width: 10rem;
        text-align: left;

        .default-price {
            color: #73888e;
            text-decoration: line-through;
        }

        .discounted-price {
            color: $main-green-color;
        }

        .hidden + .discounted-price {
            color: #73888e;
        }
    }
}

.cart-game-container:hover,
.cart-game-container:active {
    background-color: $primary-background-color;
}

.total {
    border-top: 1px solid #fff;
    padding: 2rem;
    width: 100%;
    @include flexBox(row, center, flex-start);

    .total-text {
        flex: 6;
        text-align: right;
        font-size: 2.5rem;
        color: #fff;
    }

    .total-price {
        flex: 1;
        text-align: left;
        font-size: 2.5rem;
        color: $main-green-color;
    }
}

.buy-btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    margin-top: 2rem;
    background-color: $attention-green-color;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
}

.buy-btn:hover {
    background-color: $main-green-color;
    color: #4e4e4e;
}

.hidden {
    display: none;
}
