.cart-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  overflow: auto;
}

.cart-container {
  background-color: #172431;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  min-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.cart-container .header {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.cart-container .header h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 400;
}
.cart-container .header .close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart-container .header .close-btn svg {
  stroke-width: 2px;
  stroke: #fff;
  fill: #fff;
  width: 2.4rem;
  height: 2.4rem;
}
.cart-container .header .close-btn:hover svg {
  stroke-width: 4px;
}

.container {
  position: relative;
}
.container .remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2%;
  z-index: 1000;
}
.container .remove-btn svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #73888e;
  stroke: #73888e;
  stroke-width: 0.7rem;
}
.container .remove-btn:hover svg {
  fill: #fff;
  stroke: #fff;
}

.cart-game-container:link,
.cart-game-container:visited {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0 2rem;
  text-decoration: none;
}
.cart-game-container:link img,
.cart-game-container:visited img {
  width: 30%;
  align-self: flex-start;
}
.cart-game-container:link .game-name,
.cart-game-container:visited .game-name {
  color: #fff;
  font-size: clamp(1.8rem, 1.2vw, 2.2rem);
  width: 50%;
}
.cart-game-container:link .game-price,
.cart-game-container:visited .game-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 2rem;
  color: #4c6b22;
  color: #fff;
  width: 10rem;
  text-align: left;
}
.cart-game-container:link .game-price .default-price,
.cart-game-container:visited .game-price .default-price {
  color: #73888e;
  text-decoration: line-through;
}
.cart-game-container:link .game-price .discounted-price,
.cart-game-container:visited .game-price .discounted-price {
  color: #beee11;
}
.cart-game-container:link .game-price .hidden + .discounted-price,
.cart-game-container:visited .game-price .hidden + .discounted-price {
  color: #73888e;
}

.cart-game-container:hover,
.cart-game-container:active {
  background-color: #1a2938;
}

.total {
  border-top: 1px solid #fff;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.total .total-text {
  flex: 6;
  text-align: right;
  font-size: 2.5rem;
  color: #fff;
}
.total .total-price {
  flex: 1;
  text-align: left;
  font-size: 2.5rem;
  color: #beee11;
}

.buy-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  background-color: rgb(113, 156, 49);
  color: #fff;
  border: 1px solid #000;
  text-align: center;
}

.buy-btn:hover {
  background-color: #beee11;
  color: #4e4e4e;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .cart-overlay {
    z-index: 1001;
  }
  .cart-container {
    width: 100%;
    height: 100%;
    min-width: auto;
    z-index: 1001;
  }
  .cart-container .header {
    padding: 6rem 2rem 2rem;
  }
  .cart-container h2 {
    width: 100%;
  }
  .total {
    width: 95%;
  }
  .total .total-text {
    font-size: 2rem;
  }
  .total .total-price {
    font-size: 2.2rem;
  }
  .buy-btn {
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
  }
}