@import '../../index.scss';

.main {
    width: 60%;
    flex: 1;
    min-width: 75rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}
