@import '../../index.scss';

$product-container-background-color: #2a475e;

.container {
    cursor: pointer;
    max-width: 40rem;
    @include flexBox(column, center, flex-start, 0rem);
    background: #2a475e;

    img {
        width: 100%;
    }
}

.container:hover {
    background: linear-gradient(
        rgba(81, 107, 131, 0.7),
        rgb(129, 164, 197),
        url(../../assets/layout/product-background.jpg)
    );
    filter: brightness(1.25);
}

.price-container {
    width: 100%;
    height: 100%;
    @include flexBox(row, stretch, flex-start, 0);

    span {
        @include flexBox();
        padding: 1rem;
    }

    .discount {
        padding: 1rem 2rem;
        font-size: 2rem;
        color: $main-green-color;
        background-color: $secondary-green-color;
    }

    .price,
    .discount-price {
        background-color: #141f2c66;
        font-size: 2rem;
        color: #738895;
        text-decoration: line-through;
    }

    .discount-price {
        color: $main-green-color;
        text-decoration: none;
    }

    .hidden {
        display: none;
    }

    .hidden + .price {
        text-decoration: none;
        color: #fff;
        width: 20rem;
    }
}
