* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #1a2938;
  min-width: 100vw;
  min-height: 100vh;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.slider-button-next {
  background: transparent;
  position: absolute;
  border: none;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  background-color: #344454;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.slider-button-next svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 50;
}

.slider-button-prev {
  background: transparent;
  position: absolute;
  border: none;
  top: 50%;
  left: 2%;
  transform: translateY(-50%) rotate(180deg);
  background-color: #344454;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.slider-button-prev svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 50;
}