@import '../../index.scss';

.slider-button-next {
    background: transparent;
    position: absolute;
    border: none;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    background-color: #344454;
    padding: 1rem;
    cursor: pointer;
    @include flexBox(row);

    svg {
        fill: #fff;
        stroke: #fff;
        stroke-width: 50;
    }
}

.slider-button-prev {
    background: transparent;
    position: absolute;
    border: none;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) rotate(180deg);
    background-color: #344454;
    padding: 1rem;
    cursor: pointer;
    @include flexBox(row);

    svg {
        fill: #fff;
        stroke: #fff;
        stroke-width: 50;
    }
}
