.slider-button-next {
  background: transparent;
  position: absolute;
  border: none;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  background-color: #344454;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.slider-button-next svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 50;
}

.slider-button-prev {
  background: transparent;
  position: absolute;
  border: none;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) rotate(180deg);
  background-color: #344454;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.slider-button-prev svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 50;
}