.recommender-outer-container {
  margin: 10rem auto;
  min-width: 75rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.recommender-outer-container h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  width: 35%;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 1rem;
  text-align: center;
}
.recommender-outer-container .recommender {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
  max-width: 120rem;
  width: 100%;
}
.recommender-outer-container .recommender .recommender-product-container:link,
.recommender-outer-container .recommender .recommender-product-container:visited {
  width: 50%;
  background-color: #172431;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}
.recommender-outer-container .recommender .recommender-product-container:hover,
.recommender-outer-container .recommender .recommender-product-container:active {
  filter: brightness(1.25);
}
.recommender-outer-container img {
  width: 100%;
  flex: 3;
}
.recommender-outer-container .price-container {
  width: 30%;
  height: clamp(5rem, 4vw, 6.5rem);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0;
}
.recommender-outer-container .price-container .price-left {
  padding: 2rem 2rem;
  color: #beee11;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  background-color: #4c6b22;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.recommender-outer-container .price-container .price-right {
  background-color: #344454;
  padding: 1rem 2rem;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.recommender-outer-container .price-container .price-right .price {
  color: #73888e;
  text-decoration: line-through;
}
.recommender-outer-container .price-container .price-right .discounted-price {
  color: #beee11;
}
.recommender-outer-container .price-container .hidden {
  display: none;
}
.recommender-outer-container .price-container .hidden + .discounted-price {
  color: #fff;
  width: 100px;
  text-align: center;
}