@import '../../index.scss';
$main-font-color: #cbcaca;

.container {
    width: 100%;
    background-color: #171a21;
    @include flexBox();
}

.Navbar {
    min-width: 90rem;
    width: 65%;
    color: $main-font-color;
    padding: 4rem 8rem;
    @include flexBox(row, center, space-between);

    .header {
        font-size: 4rem;
        color: $main-font-color;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1.5px;
    }

    ul {
        list-style: none;
        @include flexBox(row, center, center, 3rem);

        .ul-link a {
            position: relative;
        }

        .ul-link a:after {
            position: absolute;
            bottom: -50%;
            left: 0;
            right: 0;
            margin-top: -1rem;
            width: 0%;
            content: '';
            background: $main-font-color;
            height: 1px;
        }

        .ul-link a:hover:after {
            width: 100%;
            background: #fff;
        }
    }
}

.nav-link {
    color: $main-font-color;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    width: 6rem;
    @include flexBox(row, center, center, 0.5rem);
}

.nav-link:hover {
    font-weight: bold;
    color: #fff;
}

.cart-container-visible {
    padding: 1rem;
    @include flexBox(row, center, center, 0);

    .nav-link {
        color: #fff;
    }

    .hidden {
        display: none;
    }

    span {
        padding: 1rem;
        font-size: 2rem;
        background-color: $secondary-green-color;
        color: #fff;
        @include flexBox();
    }
}

.cart-container-visible:hover {
    background-color: $attention-green-color;

    span {
        background-color: $primary-background-color;
    }
}
