* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #1a2938;
  min-width: 100vw;
  min-height: 100vh;
}

.navBar {
  background-color: #171a21;
  width: 100%;
  color: #b8b6b4;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.navBar .header {
  font-size: 4rem;
  color: #b8b6b4;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.navBar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.nav-link {
  color: #b8b6b4;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  width: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-link:hover {
  font-weight: 700;
  color: #fff;
}