@import '../../index.scss';
$main-font-color: #c7c7c7;

.container {
    width: 100%;
    background-color: #171a21;
    @include flexBox();
}

.navBar {
    min-width: 90rem;
    width: 65%;
    color: $main-font-color;
    padding: 4rem 8rem;
    @include flexBox(row, center, space-between);

    .header {
        font-size: 4rem;
        color: $main-font-color;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1.5px;
    }

    ul {
        list-style: none;
        @include flexBox(row, center, center, 3rem);
    }
}

.nav-link {
    color: $main-font-color;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    width: 6rem;
    @include flexBox(row, center, center, 0.5rem);
}

.nav-link:hover {
    font-weight: 700;
    color: #fff;
}
