$primary-background-color: #1a2938;
$secondary-background-color: #172431;
$nav-background-color: #171a21;
$main-green-color: #beee11;
$secondary-green-color: #4c6b22;
$attention-green-color: rgb(113, 156, 49);

@mixin flexBox(
    $direction: row,
    $align-items: center,
    $justify-content: center,
    $gap: 2rem
) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: $primary-background-color;
    min-width: 100vw;
    min-height: 100vh;
}

.outer-container {
    @include flexBox(column, center, flex-start, 2rem);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
