.slider-container {
  width: 70%;
  max-width: 125rem;
  min-width: 70rem;
  height: 50rem;
  background-color: #172431;
  margin: 2rem auto;
  position: relative;
  border-radius: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.slider {
  margin-top: 12rem;
  width: 61rem;
  overflow: hidden;
  border-radius: 0rem;
  margin-bottom: 10rem;
  background-color: #4e4e4e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.slider img {
  height: 100%;
}
.slider .hidden {
  display: none;
}

.slider-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.game-information-container {
  color: #fff;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.game-information-container .price-outer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.game-information-container .discount-percentage {
  font-size: 3rem;
  color: #beee11;
  background-color: #4c6b22;
  padding: 3rem;
  width: 12rem;
  height: 8rem;
  text-align: center;
}
.game-information-container .price-container {
  font-size: 2rem;
  background-color: #344454;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 12rem;
  height: 8rem;
  padding: 3rem;
}
.game-information-container .price-container .price-text {
  color: #73888e;
  text-decoration: line-through;
}
.game-information-container .price-container .discount-text {
  color: #beee11;
}
.game-information-container .hidden + .price-container {
  width: 25rem;
}
.game-information-container .hidden + .price-container .price-text {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}
.game-information-container .buy-button:link,
.game-information-container .buy-button:visited {
  cursor: pointer;
  background-color: rgb(113, 156, 49);
  padding: 2rem;
  border: none;
  width: 16rem;
  color: #fff;
  font-size: 2rem;
  border: 1px solid #000;
  margin-right: 5rem;
  text-decoration: none;
  text-align: center;
}
.game-information-container .buy-button:hover,
.game-information-container .buy-button:active {
  background-color: #beee11;
  color: #4e4e4e;
}

@media (max-width: 768px) {
  .slider-container {
    width: 90%;
    min-width: auto;
    height: 40%;
  }
  .slider-container .slider {
    background-color: transparent;
    height: 100%;
  }
  .slider-container .slider-inner-container {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .slider-container .slider-inner-container img {
    width: 100%;
    flex: 0;
  }
  .slider-container .slider-inner-container .game-information-container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0;
  }
  .slider-container .slider-inner-container .price-outer-container {
    height: 6rem;
  }
  .slider-container .slider-inner-container .discount-percentage {
    font-size: 2.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
  }
  .slider-container .slider-inner-container .price-container {
    font-size: 1.8rem;
    padding: 1rem;
    flex: 3;
    height: 100%;
  }
  .slider-container .slider-inner-container .price-container .price-text {
    font-size: 1.8rem;
  }
  .slider-container .slider-inner-container .buy-button {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    height: 4rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}